@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background;
  font-family: 'Outfit', sans-serif;
}

.nav-menu {
  background: linear-gradient(180deg, rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, .05) 100%);
  border: 1px solid rgba(255, 255, 255, .075);
}

.footer h6, .footer p  {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.sub-footer {
    background-color: #000000;
    color: #FF9900;
}

.footer .sub-footer .link {
    font-size: 1rem;
    font-weight: 200;
}

.footer .sub-footer .form {
    width: 360px;
    height: 45px;
    background-color: #000D1B;
}

.footer .sub-footer .form input {
    background-color: transparent;
    padding: 0 12px;
    flex: 1;
}

.footer .sub-footer .form input:focus {
    outline: none;
}

.footer .sub-footer .form input::placeholder {
    color: #ffffff25;
}

.footer .sub-footer .form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background-color: #002140;
    border-radius: 999px;
}

.footer .sub-footer .copyright {
    border-top: 1px solid #00162B;
}